

.backgroundHome{
  background: url(../../assets/img/global-banner.png);
}

.backgroundServices{
  background: url(../../assets/img/banner-2.jpg);
}

.full-screen-banner-height{
  height: calc(100vh - 160px);
}